.vscode
*~
*.os
*.hw
*.vo
*.do
*.cdf
*.ddb
*.dpf
*.eqn
*.jdi
*.pof
*.ptf.*
*.qar
*.qarlog
*.qpg
*.qtl
*.qws
*.gdb
*.map
*.rpt
*.sof
*.spd
*.rbf
*.bsf
*.cmp
*.qip
*.pin
*.ocp
*.svd
*.eda.rpt
*.asm.rpt
*.map.*
*.sta.*
*.fit.*
*.smsg
*.done
*.qgsimc
*.regmap
*.summary
*.qgsynthc
*.sopcinfo
*.sopc_builder
*webtalk*
**/db/*
**/qdb/*
**/.qsys_edit/*
**/output_files/*
**/hc_output/*
**/hps_isw_handoff/*
**/graybox_tmp/*
**/tmp-clearbox/*
**/incremental_db/*